.user-profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  .profile-form {
    margin: var(--space-primary) 0;
  }

  .manage-group {
    margin-top: var(--space-primary);
  }
}
