@import "src/styles/variables/paths.scss";

.home-page {
  background-image: url('#{$images_path}/bkg-home.jpg');
  background-size: cover;
  background-position: center;

  .home-page-demo {
    width: 100%;
    max-width: 800px;
    text-align: center;

    .home-demo-desc {
      margin-bottom: 1em;
    }
  }
}
