.page-header {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex: 0 auto;
  justify-content: space-between;

  .page-header-title {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-secondary);
  }
}
