.manage-group {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: auto 0;

  .user-group {
    width: 100%;
    height: 100%;
    flex: 1;
    position: relative;
    overflow-y: auto;
    margin-bottom: var(--space-primary);
  }

  .employees-list {
    width: 100%;
    height: 100%;
    flex: 1;
    position: relative;
    overflow-y: auto;
  }
}
