.form-field {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &.large {
    font-size: 3rem;
  }

  &.medium {
    font-size: 2.5rem;
  }

  &.small {
    font-size: 2rem;
  }

  .form-field-label {
    font-size: 0.4em;
    width: 100%;
    margin-bottom: 0.25em;
  }

  .form-filed-input {
    height: 1em;
    display: flex;
    flex-direction: column;

    .form-input {
      height: 100%;
      padding: 0 1em;
      border: 2px solid var(--shade-ternary);
      border-radius: 0.5em;

      &:focus {
        border: 2px solid var(--shade-primary);
      }

      &.error {
        border: 2px solid red;
      }
    }
  }

  .error-message {
    margin-top: 0.5em;
    color: red;
    font-size: 0.3em;
  }
}
