.app-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 auto;

  .app-page-header {
    width: 100%;
    height: 60px;
    position: relative;
    box-shadow: var(--shadow-primary);
  }

  .app-page-body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
  }
}
