.data-table {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 auto;

  .table-header {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;

    .header-label {
      min-width: 200px;
      flex: 1;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 var(--space-primary);
      font-size: 1rem;
      font-weight: bold;
      border: 1px solid var(--shade-ternary);

      &.action-label {
        width: 50px;
        min-width: 50px;
      }
    }
  }

  .table-body {
    width: 100%;

    .empty-rows {
      width: 100%;
      padding: var(--space-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: bold;
    }

    .table-row {
      width: 100%;
      height: 40px;
      display: flex;
      position: relative;

      .drop-zone {
        width: 100%;
        position: absolute;
        height: 50%;
        left: 0;
        right: 0;
        z-index: 10;

        &.top {
          top: 0;

          &.active {
            border-top: 2px solid var(--shade-primary);
          }

        }

        &.bottom {
          bottom: 0;

          &.active {
            border-bottom: 2px solid var(--shade-primary);
          }
        }
      }

      &.hidden {
        opacity: 0.5;
        pointer-events: none;
      }

      .row-col {
        min-width: 200px;
        flex: 1;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 var(--space-primary);
        font-size: 1rem;
        border: 1px solid var(--shade-ternary);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.action-col {
          min-width: 50px;

          &:hover {
            background: var(--shade-ternary);
            cursor: pointer;
          }
        }
      }
    }
  }
}
