.App {
  &.light-theme {
    --shade-white: #ffffff;
    --shade-primary: #0CA9FF;
    --shade-secondary: #454545;
    --shade-ternary: #f1f1f1;
    --space-primary: 10px;
    --space-secondary: 5px;
    --space-ternary: 2px;
    --radius-primary: 5px;
    --radius-secondary: 3px;
    --shadow-primary: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    --shadow-secondary: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    --shadow-ternary: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    --field-height-primary: 35px;
  }
}
