.app-font {
  margin: 0;
  line-height: 2.5rem;

  &.light {
    color: var(--shadow-primary);
  }

  &.dark {
    color: var(--shade-white);
  }

  &h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  &h2 {
    font-size: 1.75rem;
    font-weight: bold;
  }


  &h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &h4 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &h4 {
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
  }
}
