.registration-page {
  width: 100%;

  .registration-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: var(--space-primary);

    .registration-steps {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .registration-step {
        width: 100%;
        max-width: 400px;
        max-height: 100%;
        overflow-y: auto;

        &.group {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
