.app-button {
  border-radius: 5rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;

  &.light {
    border: none;
    color: var(--shade-primary);
    background: none;
  }

  &.simple {
    border: none;
    background: var(--shade-primary);
    color: var(--shade-white);
    box-shadow: var(--shadow-ternary);
  }

  &.border {
    border: 2px solid var(--shade-primary);
    color: var(--shade-primary);
    box-shadow: var(--shadow-ternary);
    background: none;
  }

  &.link-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }

  &.large {
    font-size: 1.5em;
    padding: 0 3em;
    height: 3em;
  }

  &.medium {
    font-size: 1.25em;
    padding: 0 2em;
    height: 2.25em;
  }

  &.small {
    font-size: 1em;
    padding: 0 1em;
    height: 2em;
  }

  &:hover {
    box-shadow: var(--shadow-secondary);
  }

  &:active {
    box-shadow: var(--shadow-primary);
  }

  &:disabled {

  }
}
